<div class="modal-header">
  <h3 class="modal-title">导入模板</h3>
</div>
<div class="modal-body">
  <form name="budgetSection" class="form-horizontal" novalidate>
    <form-tpl form-config="vm.formConfig" model="vm.form"></form-tpl>

    <div>
      <label style="padding: 0 0 0 5px;text-align: left;" class="col-sm-2 control-label">
        <span class="required-star">*</span>
        时间范围
      </label>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-md-6">
            <p class="input-group">
              <input type="text"
                     class="form-control"
                     uib-datepicker-popup
                     ng-model="vm.form.startAt"
                     date-model-format="'X'"
                     is-open="vm.popup1.opened"
                     datepicker-options="vm.dateOptions"
                     ng-required="true"
                     show-button-bar="false" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
          </div>

          <div class="col-md-6">
            <p class="input-group">
              <input type="text"
                     class="form-control"
                     uib-datepicker-popup
                     ng-model="vm.form.endAt"
                     date-model-format="'X'"
                     is-open="vm.popup2.opened"
                     datepicker-options="vm.dateOptions"
                     ng-required="true"
                     show-button-bar="false" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div style="clear: both"></div>
</div>
<div class="modal-footer">
  <button class="btn bp-btn-primary"
          type="button"
          ng-disabled="budgetSection.$invalid"
          ng-click="vm.ok()">导入
  </button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">关闭</button>
</div>
